@charset "utf-8";
nav section ul .active {
	background-color: #000;
}
#ticket-booking {
	width: 700px;
	margin: 30px auto;
	border: 1px solid #ddd;
	padding: 20px 30px;
}
#ticket-booking h2 {
	font-size: 30px;
	font-weight: bold;
}
#ticket-booking hr {
	margin: 10px 0;
}
#ticket-booking ul {
	list-style-type: none;
	margin: 20px 0;
}
#ticket-booking ul li {
	display: inline-block;
	
}
#ticket-booking ul li a {
		padding: 5px;
}
#ticket-booking ul li.unique a, #ticket-booking ul li a:hover {
	background-color: #390;

}
#ticket-booking ul li:first-child {
	font-size: 20px;
}
#ticket-booking h3 {
	font-size: 20px;
	font-weight: normal;
}
#ticket-booking .date {
	width: 600px;
	height: 30px;
	line-height: 30px;
}
#ticket-booking .date input {
	height: 30px;
}
#ticket-booking .date button {
	position: relative;
	top: -78px;
	right: -450px;
	width: 200px;
	height: 80px;
	background-color: #f90;
	color: #eee;
	font-size: 20px;
}
#ticket-booking table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	padding: 5px;
	background-color: #eee;
}
#ticket-booking table tr {
	border: 1px solid #999;
}
#ticket-booking table .free {
	color: #f90;
}
#ticket-booking table td:last-child {
	display:inline-blcok;
	width: 60px;
	height: 20px;
	line-height: 20px;
	background-color: #f90;
	cursor: pointer;
}



